Summary<br>
> introduction<br>
- pd.read_csv() --> used for reading our csv file
- df.shape --> will give number of rows and columns in our dataframe
- df.info() --> will give basic info of data
- pd.set_option() --> can set rows and columns which want to display
- df.head() and df.tail() --> will display first few rows and last few rows of our dataframe respectively
> dataframe and series<br>
- dataframe --> basically rows and columns
- series --> it has only rows of data
- pd.DataFrame() --> to create dataframe
- df.columns --> to display columns in dataframe
- loc and iloc are used to index particular element
- iloc and loc --> integer based location and label based location
- both are in format of (row,columms)
- example --> df.iloc[0,0] and df.loc[0,'email']
- if want to pass more than 1 values then do it as list
- - df.loc[[0:4],['email','last_name']]
> indexes<br>
- df.set_index('email',inplace = True) --> want to change index and make permanent.
- df.index --> check index of dataframe
- df.reset_index() --> reset index back to default.
- df.sort_index(ascending = True,inplace=True) --> sort indices make permanent and ascending order,
> filtering<br>
- example : filt = (df['last_name'] == 'Chawla')
- - this will give all which has last_name Chawla
- we can also use &(and) |(or) and ~(not) for filtering
- df.loc[filt] and df[filt] both can be used preferably loc since can filter further doing so
- - df.loc[filt,'email']
- using isin
- - countries = ['United States of America','India','China']
- - filt = df['Country'].isin(countries)
- using str.contains() --> na false cause might have nan values to deal with
- - filt = df['LanguageHaveWorkedWith'].str.contains('Python',na = False)
> updating rows and columns<br>
- df.columns = ['name1','name2','name3'] --> to change name of all columns in dataframe
- df.columns = [x.upper() for x in df.columns] --> change all names to uppercase
- df.columns = df.columns.str.replace("_"," ") --> replace _ with " " space 
- df.columns = df.rename(columns = {"first_name" : "first"},inplace = True) --> change name of specific columns
- df.loc[2] = ['Vrinda','Sharma','vrindasharma@outlook.com'] --> update all values for row
- df.loc[2,['first_name','last_name']] = ['Mallika','Singh'] --> update multiple values in row
- df.loc[2,'last_name'] = ['Chawla'] --> update only one value in row
- df.at[2,'last_name'] = 'Sharma' --> update one value at row can be done using at and loc
- filt = df['email'] == 'vrindachawla@outlook.com'<br>
df.loc[filt,'last_name'] = 'Chawla'<br>
change values using filt
- df['email'] = df['email'].str.lower()
- Important methods
- - <b>apply</b> --> can work on dataframe and series.<br>
series ---> applies function on every value in series<br>
df['email'].apply(len)<br>
df['email'] = df['email'].apply(update_email)<br>
df['email'].apply(lambda x : x.lower())<br>
dataframe ---> applies function on series dataframe has<br>
df.apply(len,axis='columns')<br>
df.apply(len,axis='rows')<br>
df.apply(pd.Series.min)<br>
df.apply(lambda x : x.min())<br>
- - <b>applymap</b> --> works on dataframe only not on series.applies function on every value in dataframe.<br>
df.applymap(len)<br>
df.applymap(str.lower)<br>
- - <b>map</b> --> works on series only not on dataframe.will put nan at values not entered so better to use replace
df_copy = df['first'].map({"Vrinda" : "Arya"})<br>
will have series only as output where all names will be nan and only where vrinda was there will change it to arya
- - <b>reduce</b> --> will replace values will work on series
df['first'] = df['first'].replace({"Vrinda" : "Arya"})<br>
will have dataframe as output and will change vrinda to arya and rest as they were before.
> add/remove rows and columns<br>
- suppose want to get full_name column from first_name and last_name column
- - df['full_name'] = df['first_name'] + " " + df['last_name']
- - df['full_name'] = df.apply(lambda x : x['first_name'] + " " + x['last_name'],axis=1)
- want to remove first_name and last_name columns
- - df.drop(columns = ['first_name','last_name'],inplace = True)
- want to get multiple columns via splitting
- - df['first_name','last_name'] = df['full_name'].str.split(' ',expand = True)
- add a single row or a dataframe 
- - append method not gonna work on future versions of pandas so prefer using concat
- - sr1 = pd.DataFrame({'first_name':['Ritik'],'last_name' : ['Garg']})<br>
df = pd.concat([df,sr1],ignore_index = True,axis=0)<br>
- remove row
- - df.drop(index = 4,inplace = True)
> sorting<br>
- df.sort_values(by=['',''],ascending=['',''],inplace=True)
- df.sort_index()
- df.nlargest(10,'') and df[].nsmalles(10)
> Examples
- df.sort_values(by='last_name',ascending = True) --> will sort values according to last_name in ascending order
- df.sort_values(by=['last_name','first_name'],ascending = False) --> will sort according to last_name and first_name in descending order,first by last_name if last_name same then first_name
- df.sort_values(by=['last_name','first_name'],ascending=['True','False'],inplace = True) --> will sort according to attributes as mentioned,last_name in asceding order and first_name descending order.
- df.sort_index(inplace = True) --> will sort according to index
- df['last_name'].sort_values() --> will sort series.
- df['Pay'].nlargest(10)
- df.nsmallest(10,'Pay')
> grouping and aggreating<br>
- df['Total_Pay'].median()
- df.median()
- df.describe()
- df['Total_Pay'].count()
- df['OpSysProfessional use'].value_counts() --> will gives count of all values we have
- df['OpSysPersonal use'].value_counts(normalize=True) --> percent of count a value is
- country_grp = df.groupby(['Country'])
- country_grp.get_group('United States of America')
- country_grp['YearsCode'].value_counts().head(60)
- country_grp['YearsCode'].value_counts().loc['India']
- country_grp['Total_Pay'].median()
- country_grp['Total_Pay'].mean()
- country_grp['Total_Pay'].agg(['median','mean'])
- country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
- country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').value_counts(normalize=True))
> cleaning data<br>
- df.dropna() --> drop those which have np.nan values
- - df.dropna(axis = "index", how = "any") --> same as up since index is rows and any means if any value in that row np.nan then drop it
- - df.dropna(axis = "columns", how = "any") --> if any in column np.nan then drop that column
- - df.dropna(axis = "index", how = "all") --> if all in index np.nan then drop
- - df.dropna(axis='index',how='any',subset=['last','email']) --> do it for last and email column only
- if have "missing" or NA then do following 
- - df.replace("NA",np.nan,inplace=True)
- - df.replace("Missing",np.nan,inplace=True)
- df.isna() --> check for na values
- df.fillna("Missing") or df.fillna(0) --> fill wherever nan values use 0 for numeric computation
- df['age'] = df['age'].astype(float) --> here used float as np.nan is float and will give error if try do to int
- df['age'].mean()
- df['YearsCode'].unique() --> all unique values our column has
- df.replace({"More than 50 years" : 51,"Less than 1 year" : 0},inplace = True)

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os

In [2]:
cwd = os.getcwd()
cwd

'/Users/rayirth.soni/Code/Personal/EDA Practise/Modules-Tutorials/Pandas'

In [3]:
survey_results_public_path = os.path.join(cwd,'survey_results_public.csv')
survey_results_public_path
survey_results_schema_path = os.path.join(cwd,'survey_results_schema.csv')
survey_results_schema_path

'/Users/rayirth.soni/Code/Personal/EDA Practise/Modules-Tutorials/Pandas/survey_results_public.csv'

'/Users/rayirth.soni/Code/Personal/EDA Practise/Modules-Tutorials/Pandas/survey_results_schema.csv'

# Corey Schaffer

## Getting Started With Data Analysis

Pandas library is basically use for dealing with datasets.Use for analyzing,creating and removing datasets.<br>
- pd.read_csv() --> used for reading dataset<br>
- df.shape --> determinig rows and columns<br>
- df.info() --> info about table<br>
- pd.set_option -->  use like say want to display 100 rows and 100 columns in output<br>
- - pd.set_option('diplay.max_rows',100) --> will display 100 rows<br>
- - pd.set_option('display.max_columns',100) --> will display 100 columns<br>
- df.head() and df.tail() is used for displaying dataset<br>
- - df.head displays top of dataset<br>
- - df.tail displays bottom of dataset<br>

In [4]:
df = pd.read_csv(survey_results_public_path)
df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:adcbfc17e2a91bb8fe5e09665c55e20df3b...
1                                     size 108829270

In [5]:
df.shape

(2, 1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   version https://git-lfs.github.com/spec/v1  2 non-null      object
dtypes: object(1)
memory usage: 148.0+ bytes

In [7]:
pd.set_option('display.max_columns',85)
pd.set_option ('display.max_rows',85)

In [8]:
schema_df = pd.read_csv(survey_results_schema_path)
schema_df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:51af70e09e44681b100600a1630678167b6...
1                                         size 14471

In [9]:
df.head(10)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:adcbfc17e2a91bb8fe5e09665c55e20df3b...
1                                     size 108829270

In [10]:
df.tail(10)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:adcbfc17e2a91bb8fe5e09665c55e20df3b...
1                                     size 108829270

## DataFrame & Series

Here basically we have 2 types of data in pandas ie dataframe and series<br><br>

- dataframe --> basically rows and columns
- series --> it has only rows of data<br>
- pd.DataFrame() --> to create dataframe
- df.columns --> to display columns in dataframe
- loc and iloc are used to index particular element
- iloc --> integer based location
- loc --> label based location
- both are in format of (row,columms)
- example --> df.iloc[0,0] and df.loc[0,'email']
- if want to pass more than 1 values then do it as list
- - df.loc[[0:4],['email','last_name']]

In [11]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
# dataframe is bascially rows and columns
# suppose for example want to think' dataframe in terms of python then can be though as dictionary
person = {
"first": "Rayirth",
"last" : "Soni",
"email" : "rayirthsoni@gmail.com"
}
people = {
"first" : ["rayirth"],
"last" : ["soni"],
"email" : ["rayirthsoni@gmail.com"]
}
people = {
"first" : ["Rayirth", "Riya", "Vrinda"],
"last" : ["Soni","Chawla","Singh"],
"email" : ["rayirthsoni@gmail.com","riyachawla@apple.com", "vrindasingh@outlook.com"]
}
# now here dataframe can be for example though as dictionary where keys a columns and values as rows
# for multiple values do it as list, 2nd row is 2nd value for each key
# now say want to access all emails then
people["email"]
type(people ["email"])
# dataframes are somewhat similar to this but with more functionality.

['rayirthsoni@gmail.com', 'riyachawla@apple.com', 'vrindasingh@outlook.com']

list

In [13]:
# to create a data frame from existing dictionary
df = pd.DataFrame (people)
df

     first    last                    email
0  Rayirth    Soni    rayirthsoni@gmail.com
1     Riya  Chawla     riyachawla@apple.com
2   Vrinda   Singh  vrindasingh@outlook.com

In [14]:
# access values from data frame
df['email']
# can also do it as
# df. email
# preferably Like this []

0      rayirthsoni@gmail.com
1       riyachawla@apple.com
2    vrindasingh@outlook.com
Name: email, dtype: object

In [15]:
type(df['email'])

pandas.core.series.Series

series basically list of data with lot more functionality like dataframe also id basically means rows of data<br>
series mein ek column hai aur bohot saari rows and dataframe mein multiple columns and multiple rows<br>
dataframe is basically container for multiple series objects <br> 
can think of first column as series, last column as series and email column as series

In [16]:
# access multiple columns
df[['last','email']]
# pass List of columns you want

     last                    email
0    Soni    rayirthsoni@gmail.com
1  Chawla     riyachawla@apple.com
2   Singh  vrindasingh@outlook.com

In [17]:
# how to get columns in data frame
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [18]:
# how to get row in dataframe use loc and iloc
df.iloc[0]

first                  Rayirth
last                      Soni
email    rayirthsoni@gmail.com
Name: 0, dtype: object

In [19]:
# to access mulitple rows pass List of index
df.iloc[[0,1]]

     first    last                  email
0  Rayirth    Soni  rayirthsoni@gmail.com
1     Riya  Chawla   riyachawla@apple.com

In [20]:
# with loc and iloc can select columns as well
# for iloc
# first pass row then column
df. iloc[[0,1],2] # for iloc cant specify column name since they use integer location

0    rayirthsoni@gmail.com
1     riyachawla@apple.com
Name: email, dtype: object

In [21]:
df.loc[0]

first                  Rayirth
last                      Soni
email    rayirthsoni@gmail.com
Name: 0, dtype: object

In [22]:
df.loc[[0, 1], 'email']

0    rayirthsoni@gmail.com
1     riyachawla@apple.com
Name: email, dtype: object

In [23]:
df.loc[[0, 1],['email', 'last']]

                   email    last
0  rayirthsoni@gmail.com    Soni
1   riyachawla@apple.com  Chawla

In [24]:
df = pd.read_csv(survey_results_public_path)
schema_df = pd.read_csv(survey_results_schema_path)

In [25]:
df.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:adcbfc17e2a91bb8fe5e09665c55e20df3b...
1                                     size 108829270

In [26]:
schema_df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:51af70e09e44681b100600a1630678167b6...
1                                         size 14471

In [27]:
# see how many columns and rows in dataframe
df.shape

(2, 1)

In [29]:
df.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:adcbfc17e2a91bb8fe5e09665c55e20df3b...
1                                     size 108829270

In [28]:
# get all response for hobbyist column
df ['CodingActivities']

KeyError: 'CodingActivities'

## Indexes

- df.set_index('email',inplace = True) --> want to change index of dataframe
- - here we have changed email column as index
- - inplace = True attribute is used to make this change permamnent.
- df.index --> to check index of dataframe we use this
- df.reset_index() --> this is done to reset index back to default one
- df.sort_index(inplace = True) --> to sort indices if we want to make it permanent set inplace = True
- - df.sort_index(ascending = False,inplace = True) --> to sort in descending order

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
people = {
"first" : ["Rayirth", "Riya", "Vrinda"],
"last" : ["Soni", "Chawla", "Sharma"],
"email" : ["rayirthsoni@gmail.com","riyachawla@icloud.com","vrindasharma@outlook.com"]
}

In [ ]:
df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.set_index("email",inplace = True)
df

In [ ]:
df.index

In [ ]:
df.loc['rayirthsoni@gmail.com']

In [ ]:
df.loc['rayirthsoni@gmail.com','last']

In [ ]:
# if want to search by using integer like before then use iloc
df.iloc[0]

In [ ]:
# if want to reset index to earlier then
df.reset_index(inplace = True)
df

### Now doing for our downloaded file

In [ ]:
 # if you want to change index while reading only or if you know what column is to be set as index
df = pd.read_csv(survey_results_public_path,index_col='ResponseId')
schema_df = pd.read_csv(r"C:\Users\rayir\Desktop\computer programs\survey_results_schema.csv",index_col='qname')

In [ ]:
df

In [ ]:
schema_df

In [ ]:
pd.set_option ('display.max_rows', 85)
pd.set_option ('display.max_columns', 85)

In [ ]:
df.head()

In [ ]:
schema_df

In [ ]:
schema_df.loc[f"SurveyLength"] # enter column for which you want to search information

In [ ]:
# now scroll through column name in df check one which doesn't make much sense to you and see what that means
# if we only pass first argument that is for row here we will get all columns and their values can also pass column though try to do that as well
schema_df.loc["ICorPM","question"]

In [ ]:
# if you want to sort indices 
schema_df.sort_index()
# if want to sort in descending order
# schema_df.sort_index(ascending = False)
# if want to make these changes permanent then pass argument inplace = True

In [ ]:
schema_df

## Filtering

it is done to basically filter out specific data we want according to our needs
- example : filt = (df['last_name'] == 'Chawla')
- - this will now give all which has last_name Chawla so we can do like
- - can filter further using |(or) &(and) ~(not)
- df[filt] or df.loc[filt] --> we prefer doing loc as can filter further like
- - df.loc[filt,'email']
- suppose want to filter out countries
- - countries = ['India','Canada','United States of America']
- - filt = df['Country'].isin(countries)
- using str.contains() --> here na is false cause might have nan values so to deal with it
- - filt = df['LanguageHaveWorkedWith'].str.contains('Python',na = False)

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
people = {
    "first_name": ["Rayirth", "Riya", "Vrinda"],
    "last_name": ["Soni", "Chawla", "Chawla"],
    "email": ["rayirthsoni@gmail.com", "riyachawla@icloud.com", "vrindachawla@outlook.com"]
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
filt = (df['last_name'] == 'Chawla')
filt

In [ ]:
type(filt)

In [ ]:
# can also write as df[df['last'] == 'Chawla' ]
df[filt]

In [ ]:
df.loc[filt] 
# df loc[filt] and df[filt] give same result can do anyways but prefer . loc one cause can further index rows and columns in . loc attribute

In [ ]:
df.loc[filt,'email']

In [ ]:
# can also use &(and) |(or) while filtering
filt = ((df['last_name'] == 'Chawla') & (df['first_name'] == 'Riya'))

In [ ]:
df.loc[filt,'email']

In [ ]:
filt = ((df['last_name'] == 'Soni') | (df['first_name'] == 'Riya'))

In [ ]:
df.loc[filt, 'email']

In [ ]:
df.loc[~filt, 'email'] # can also negate like this

### Now doing for our downloaded data

In [ ]:
df = pd.read_csv(survey_results_public_path,index_col = "ResponseId")
schema_df = pd.read_csv (survey_results_schema_path, index_col = "qname")

In [ ]:
pd.set_option('display.max_rows',85)
pd.set_option('display.max_columns',85)

In [ ]:
df.head()

In [ ]:
# now suppose filter according to salary check first via schema_ df 
# which column gives us salary then do following or maybe do for other filter
schema_df.sort_index(inplace = True)
schema_df

In [ ]:
high_exp = (df['WorkExp'] > 7) # say doing for salary and if it is higher than 80000 then it is high
high_exp

In [ ]:
df.loc[high_exp]

In [ ]:
df.loc[high_exp, ['YearsCodePro','LearnCode','Country']] # say you want to get some columns for dataset like 
# maybe country, salary, languages they worked in etc check via schema_df then enter

In [ ]:
# suppose want to filter out countries
countries = ['India','Canada','United States of America']
filt = df['Country'].isin(countries)

In [ ]:
df.loc[filt, 'Country'] # only get country to check if correct

In [ ]:
# filter strings
# say out of all languages if python is in Language person worked or not get that
filt = df['LanguageHaveWorkedWith'].str.contains( 'Python',na = False) # here na is False cause nan values must be done so else will give error

In [ ]:
df.loc[filt, 'LanguageHaveWorkedWith'] # here in this single quote put column which done above in filt

## Updating Rows and Columns

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
people = {
    "first": ["Rayirth", "Riya", "Vrinda"],
    "last": ["Soni", "Chawla", "Chawla"],
    "email": ["rayirthsoni@gmail.com", "riyachawla@icloud.com", "vrindachawla@outlook.com"]
}

In [ ]:
df = pd.DataFrame (people)
df

In [ ]:
df.columns # to see columns we have in our dataframe

In [ ]:
# now suppose want to change column name to first name, last name, email then do this
# this way is done when want to change all column names
df.columns = ['first_name', 'last_name', 'email']
df

In [ ]:
df.columns = [x.lower() for x in df. columns] # can do upper as well if want
df

In [ ]:
df.columns = df.columns.str.replace(" ","_") # will replace all spaces with _
df

In [ ]:
# if want to do for some specific columns
df.rename (columns = {"first_name": "first", "last_name": "last"}, inplace = True) # also need to do inplace here if want to make permanent
df

In [ ]:
# Now doing for rows
df.loc[2] = ['Vrinda', 'Sharma', 'vrindasharma@outlook.com'] # if want to change values for all columns
df

In [ ]:
# if want to change values for some columns
df.loc[2,['last', 'email']] = ['Chawla','vrindachawla@outlook.com' ] # here we changed for only Last and email column
df

In [ ]:
# if want to change value for one column then
df.loc[2, 'last'] = 'Sharma'
df

In [ ]:
# can also change value for one column using at
df.at [2, 'last'] ='Chawla'
df

In [ ]:
# one common mistake people make
''' 
filt = df['email'] == 'vrindachawla@outlook.com'
df[filt]
df[filt]['last'] = 'Sharma'
df
'''

In [ ]:
# if actually want to change values for above then use loc iloc or at
filt = df['email'] == 'vrindachawla@outlook.com'
df.loc[filt, 'last'] = 'Chawla'
df

In [ ]:
# if want to make all entries in email lower
df['email'] = df['email'].str.lower()
df

In [ ]:
# apply --> call function on our values can work on dataframe and series of objects
df['email'].apply(len)

In [ ]:
def update_email(ds):
    return ds.upper()
df['email'].apply(update_email)
df
# now if want to make this permanent then we will do
df['email'] = df['email'].apply(update_email)
df

In [ ]:
# now here changing back to lower case using lambda
df['email'].apply(lambda x : x.lower())
df

In [ ]:
df.apply(len,axis='columns')
df.apply(len,axis='rows')

In [ ]:
df.apply(pd.Series.min)
df.apply(lambda x : x.min())

In [ ]:
# apply() on series applies function on every values in series and apply on dataframe applies function on series dataframe has
# applymap() --> applies function on every value in dataframe.doesnt work with series

In [ ]:
df.applymap(len)
# want to change all values datafrane gas
df.applymap(str.lower)

In [ ]:
# map --> only works on series.subtitute value in series with another value.
df_copy = df.copy()
df_copy
df_copy = df['first'].map({"Vrinda" : "Arya"}) # this will put nan at values not entered so use replace
df_copy

In [ ]:
# replace
df['first'] = df['first'].replace({"Vrinda" : "Arya"})
df['email'] = df['email'].apply(lambda x : x.lower())
df

### Now doing for our downloaded data

In [ ]:
df = pd.read_csv(survey_results_public_path,index_col='ResponseId')
schema_df = pd.read_csv(survey_results_schema_path,index_col='qid')

In [ ]:
df.head()
schema_df.head()

In [ ]:
df.rename(columns={"MainBranch" : "Main_Branch"},inplace=True)
df

## Add/Remove rows & columns

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
people = \
{
    'first_name' : ['Rayirth','Riya','Mallika'],
    'last_name' : ['Soni','Chawla','Singh'],
    'email' : ['rayirthsoni04@gmail.com','riyachawla@icloud.com','mallikasingh@outlook.com']
}
df = pd.DataFrame(people)
df

In [ ]:
# combining first_name and last_name into full name
df['full_name'] = df.apply(lambda x: x['first_name'] + ' ' + x['last_name'],axis=1)
df
# df['full_name'] = df['first_name'] + ' ' + df['last_name']

In [ ]:
# if want to remove first_name and last_name
df.drop(columns=['first_name','last_name'],inplace=True)
df

In [ ]:
# want to get multiple columns via splitting
df[['first_name','last_name']] = df['full_name'].str.split(' ',expand=True)
df

In [ ]:
# add a single row
# df.append({'first_name' : 'Ritik'},ignore_index=True)
sr1 = pd.DataFrame({'first_name':['Ritik'],'last_name' : ['Garg']})
df = pd.concat([df,sr1],ignore_index=True,axis=0)
df

In [ ]:
# combining 2 dataframes together
people2 = \
{
    'first_name' : ['Hersh','Rohan'],
    'last_name' : ['Pathak','Gopal'],
    'email' : ['hershpathak@airplane.com','rohangopal@filmmaking.com'],
    'full_name' : ['Hersh Pathak','Rohan Gopal']
}
df2 = pd.DataFrame(people2)
df2
df = pd.concat([df,df2],ignore_index=True,axis=0,sort=False)
df

In [ ]:
# remove row
df.drop(index=4,inplace=True)
df

In [ ]:
filt = (df['last_name'] == 'Chawla')
df.loc[filt]
df.drop(index= df[filt].index)

## Sorting

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
people = \
    {
        'first_name': ['Rayirth', 'Riya', 'Mallika', 'Hersh', 'Nitin', 'Corey','Vrinda'],
        'last_name': ['Soni', 'Chawla', 'Singh', 'Pathak', 'Gupta', 'Schaffer','Chawla'],
        'email': ['rayirthsoni04@gmail.com', 'riyachawla@icloud.com', 'mallikasingh@outlook.com', 'hershpathak@airplane.com', 'nitingupta@amazon.com', 'coreyschaffer@youtube.com','vrindachawla@sales.com']
    }
df = pd.DataFrame(people)
df

In [ ]:
df.sort_values(by='last_name',ascending=False) # descending order according to last_name
df.sort_values(by=['last_name','first_name'],ascending=False) # here first sort according to last_name and then first_name
# if last_name same then will do according to first_name

In [ ]:
df.sort_values(by=['last_name','first_name'],ascending=[False,True],inplace=True) # here last_name descending and then first_name ascending

In [ ]:
df.sort_index(inplace=True)
df

In [ ]:
df['last_name'].sort_values()

### Now doing for our downloaded data

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
df = pd.read_csv(survey_results_public_path)
schema_df = pd.read_csv(survey_results_schema_path)

In [ ]:
df

In [ ]:
df.sort_values(by='Country',inplace=True)
df[['Country','CompTotal']]

In [ ]:
df['CompTotal'].nlargest(10)
df.nsmallest(10,'CompTotal')

## Grouping and Aggregating

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
df = pd.read_csv(survey_results_public_path,index_col='ResponseId')
schema_df = pd.read_csv(survey_results_schema_path,index_col='qid')

In [ ]:
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [ ]:
schema_df.head(60)

In [ ]:
df.rename(columns={'CompTotal' : 'Total_Pay'},inplace=True)
df

In [ ]:
df['Total_Pay'].median()
df.median()
df.describe()
df['Total_Pay'].count()

In [ ]:
df['OpSysProfessional use'].value_counts()
df['OpSysPersonal use'].value_counts(normalize=True)

In [ ]:
df['Country'].value_counts()

In [ ]:
country_grp = df.groupby(['Country'])
country_grp
country_grp.get_group('United States of America')

In [ ]:
# this is quite similar to filter
filt = (df['Country'] == 'United States of America')
df.loc[filt]

In [ ]:
df.loc[filt]['YearsCode'].value_counts() # counting values according to YearsCode

In [ ]:
country_grp['YearsCode'].value_counts().head(60) # here will get grp according too country for yearscode

In [ ]:
country_grp['YearsCode'].value_counts().loc['India'] # say want to get particular country here
country_grp['YearsCode'].value_counts(normalize=True).loc['India'] # if want to get values in percentage do like this

In [ ]:
country_grp['Total_Pay'].median()
country_grp['Total_Pay'].mean()

In [ ]:
country_grp['Total_Pay'].agg(['median','mean'])

In [ ]:
filt = (df['Country'] == 'India')
# df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()
df.loc[filt,'LanguageHaveWorkedWith'].str.contains('Python').sum()
# here sum is used to calculate number of people who answered true
# true = 1 and false = 0

In [ ]:
# country_grp['LanguageHaveWorkedWith'].str.contains('Python').sum() can not do this way in grp use apply
country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').value_counts(normalize=True))

## Cleaning Data - Missing Values & Casting Dataypes

In [ ]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
people = \
{
    "first" : ["Rayirth","Riya","Corey","Hersh","Vrinda","Aryan","Arya","Mike",np.nan,None,'NA'],
    "last" : ["Soni","Chawla","Schafer","Pathak","Chawla","Singh","Chawla","Smith",np.nan,np.nan,'Missing'],
    "email" : ["rayirthsoni@gmail.com","riyachawla@icloud.com","coreyschafer@youtube.com","hershpathak@airplane.com","vrindachawla@ca.com","aryansingh@samsung.com","aryachawla@c.com",None,np.nan,"anonymous@email.com",'NA'],
    "age" : ["20","21","28","22","24","30","19","42",None,None,'Missing']
}

In [ ]:
df = pd.DataFrame(people)
df

In [ ]:
df.dropna() # here have dropped those where we had NaN values ie np.nan
df.dropna(axis='index',how='any') # this is same as up basically these are value of parameters when we do above
df.dropna(axis='columns',how='all')
df.dropna(axis='columns',how='any')
df.dropna(axis='index',how='any',subset=['last','email'])
df.dropna(axis='index',how='all',subset=['last','email'])

In [ ]:
# now to deal with Missing and NA which user typed rather than using np.nan we will do
df.replace("NA",np.nan,inplace=True)
df.replace("Missing",np.nan,inplace=True)
df

In [ ]:
df.dropna() # here have dropped those where we had NaN values ie np.nan
df.dropna(axis='index',how='any') # this is same as up basically these are value of parameters when we do above
df.dropna(axis='columns',how='all')
df.dropna(axis='columns',how='any')
df.dropna(axis='index',how='any',subset=['last','email'])
df.dropna(axis='index',how='all',subset=['last','email'])

In [ ]:
df.isna()
df.fillna("Missing")
df.fillna(0) # in numerical can use 0 for calculation or any other according to our requirements

In [ ]:
df.dtypes
df['age'] = df['age'].astype(float) # here used float as np.nan is float and will give error if try do to int
df.dtypes
df['age'].mean()

### Now doing for our downloaded data

In [ ]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
na_vals = ['Missing','NA']
# na_values will change it to NaN
df = pd.read_csv(survey_results_public_path,index_col = "ResponseId",na_values=na_vals)
schema_df = pd.read_csv (survey_results_schema_path, index_col = "qname")
pd.set_option('display.max_rows',85)
pd.set_option('display.max_columns',85)
df_1 = df.copy()
df_1.head()

In [ ]:
df_1['YearsCode'].dtypes
df_1['YearsCode'].unique()
df_1['YearsCode'].value_counts()
df_1.replace({"More than 50 years" : 51,"Less than 1 year" : 0},inplace = True)
df_1['YearsCode'].unique()
df_1['YearsCode'].value_counts()
# df['YearsCode'].mean()

In [ ]:
df_1['YearsCode'] = df_1['YearsCode'].astype(float)
df_1['YearsCode'].mean()
df_1['YearsCode'].median()

## Datetime time series

## Excel, SQL, JSON

### Keith Galli

#### Load datas into pandas

> this is for csv file

In [ ]:
# df basically is dataframe
df = pd.read_csv(r'C:\Users\rayir\Desktop\computer programs\Python Modules Tutorial\pokemon_data.csv')

In [ ]:
# print entire data
print(df)

In [ ]:
# in case you only want to print top n number of rows, say n=5
print(df.head(5))

In [ ]:
# in case you only want to print bottom n number of rows, say n=5
print(df.tail(5))

> If it was an excel file

In [ ]:
df_xlsx = pd.read_excel(r'C:\Users\rayir\Desktop\computer programs\Python Modules Tutorial\pokemon_data.xlsx')

In [ ]:
print(df_xlsx)

In [ ]:
print(df_xlsx.head(5))

In [ ]:
print(df_xlsx.tail(5))

> If it was a text file

In [ ]:
df_txt = pd.read_csv(r'C:\Users\rayir\Desktop\computer programs\Python Modules Tutorial\pokemon_data.txt',delimiter='\t')

In [ ]:
print(df_txt)

In [ ]:
print(df_txt.head(5))

In [ ]:
print(df_txt.tail(5))

#### Reading data into pandas

In [ ]:
# read headers
print(df.columns)

In [ ]:
# read each column
print(df['Name'][0:5])
# can also do above thing like
# print(df.Name)

In [ ]:
# IF YOU WANT MULTIPLE COLUMNS
print(df[['Name','Type 1','HP']])

In [ ]:
# read each row
print(df.head(4))

In [ ]:
print(df.iloc[0:4])

In [ ]:
# read a specific location(R,C)
# suppose want to do from venusaur which is in 2nd row and 1st column(numbering starts from 0).
print(df.iloc[2,1])

In [ ]:
# Iterate Through Each Row