In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1st Exercise

In [4]:
df = pd.read_csv(r"C:\Users\rayir\Desktop\computer programs\Python Modules Tutorial\unigram_freq.csv",index_col='word')

In [5]:
df.head()

            count
word
the   23135851162
of    13151942776
and   12997637966
to    12136980858
a      9081174698